/* App.css */
html, body {
    margin: 0;
    padding: 0;
  }
  
  .app {
    text-align: center;
    overflow: hidden;
  }
  
  /* Animation */
  @keyframes floatInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }
  
  @keyframes floatInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }
  
  .animate-right {
    animation: floatInRight 1s forwards;
    opacity: 1; 
  }
  
  .animate-left{
    animation: floatInLeft 1s forwards;
    opacity: 1; 
  }
  