.App {
  text-align: center;
}

.main_image {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("img/IMG_3611.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: #fff;
  font-size: 2.5em; /* タイトルの文字サイズ */
  text-align: center; 
}

@keyframes picdown {
  /*タイプライターライクなアニメーション*/
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

@media screen and (max-width: 481px) {
  .title {
    font-size: 1.5em;
  }
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.formContainer {
  padding: 20px;
  background-color: #b5b6b7;
  margin-top: 20px;
}

.hidden {
  opacity: 0;
}

.opning {
  height: 100vh;
}

.slide {
  background-color: #b2d8e8;
}

.module--spacing--small {
  height: 20px;
}

.module--spacing--large {
  height: 40px;
}

.footer {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
}

.link {
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
}

.icon {
  font-size: 50px; /* アイコンのサイズを大きくする */
  margin-right: 10px; /* アイコンの右側にマージンを追加 */
}